.VueCarousel-slide {
  position: relative;
  min-height: 300px;
  text-align: center;
  font-size: 24px;
  background-color: skyblue;
  color: #fff;
}

.label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
