.img-tooltip {
  position: relative;
  cursor: pointer;
}

/* ツールチップの中身 */
.img-tooltip:before {
  position: absolute;

  /* 縦軸： 下に移動 */
  top: 100%;
  margin-top: 6px;

  /* 横軸： 中央に移動 */
  left: 50%;
  transform: translateX(-50%);

  /* z-indexの値は、１以上であれば良い。ここではBootstrapの仕様に倣った */
  /* 参考： https://getbootstrap.com/docs/5.0/layout/z-index/ */
  z-index: 1070;

  min-width: 200px;
  padding: 7px;

  font-size: .9rem;
  color: #fff;
  text-align: center;

  background-color: #000;
  border-radius: 4px;

  /* data-text属性の属性値を、ツールチップとして表示する */
  content: attr(data-text);

  /* デフォルトでツールチップは非表示 */
  opacity: 0;
  visibility: hidden;

  box-shadow: 0 3px 6px rgba(255,255,255,.3);
  transition: opacity .3s ease-out;
}

/* ツールチップの矢印 */
.img-tooltip:after {
  position: absolute;

  /* 縦軸 */
  top: 100%;
  margin-top: -7px;

  /* 横軸 */
  left: 50%;
  transform: translateX(-50%);

  z-index: 1070;

  /* 矢印の三角形部分 */
  border-color: transparent transparent #000 transparent;
  border-style: solid;
  border-width: 7px;

  content: "";

  /* デフォルトで非表示 */
  opacity: 0;
  visibility: hidden;

  transition: opacity .3s ease-out;
}

.img-tooltip:hover:before,
.img-tooltip:hover:after {
  /* マウスオーバーでツールチップを表示 */
  opacity: 1;
  visibility: visible;
}