.header__container, .book-lists__container {
  min-width: 1000px;
}

.list-unstyled {
  border-left-style: solid;
  border-left-width: .2rem;
  border-bottom-left-radius: .3rem;
  border-top-left-radius: .3rem;
}

.book-list--wish {
  border-left-color: #73DD8B;
}

.book-list--finish {
  border-left-color: #17a2b8;
}

.book {
  padding-left: 1.5rem;
}

.book__actions {
  min-width: 4.9rem;
  font-size: 1.25rem;
  opacity: 0;
  transition: opacity .3s ease-out;
}

.book:hover .book__actions {
  opacity: 1;
  transition-timing-function: ease-in;
}

.book__action {
  cursor: pointer;
  transition: color .2s ease-out;
}

.book__action:hover {
  transition-timing-function: ease-in;
}

.book__action--deletion:hover {
  color: #dc3545;
}

.book__action--finish:hover {
  color: #17a2b8;
}