<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>Flickr API Test</title>

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />

    <link rel="stylesheet" href="main.css" />

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>

  <body>
    <div id="app" class="container">
      <div class="row justify-content-center my-4">
        <header class="mb-5">
          <h1>Flickrで写真を探す</h1>
          <form
            class="form-inline justify-content-center my-4"
            v-on:submit.prevent="fetchImagesFromFlickr"
          >
            <input
              type="search"
              name="search"
              class="form-control mr-sm-2"
              placeholder="検索テキストを入力"
              aria-label="Search"
            />
            <button type="submit" class="btn btn-outline-primary my-2 my-sm-0">
              検索
            </button>
          </form>
        </header>
      </div>
      <div class="row justify-content-center px-4">
        <p v-if="isinitialized">検索してください。</p>
        <p v-show="isFetching" class="position-relative mx-auto">
          <span class="loading-icon fas fa-sync" aria-hidden="true"> </span>
        </p>
        <p v-show="isFailed">
          データの取得に失敗しました。しばらく時間を置いてから、再度お試しください。
        </p>
        <p v-show="isNotFound">
          写真が見つかりませんでした。別の言葉で検索してみてください。
        </p>
        <!--
        TODO: p要素を加える
        このp要素は、「検索テキストに該当する写真データがない状態」のときに表示する
      -->

        <div>
          <template v-if="isFound">
            <a
              v-for="photo in photos"
              v-bind:key="photo.id"
              v-bind:data-text="photo.text"
              v-bind:href="photo.pageURL"
              class="d-inline-block img-tooltip"
              target="_blank"
            >
              <img
                v-bind:src="photo.imageURL"
                v-bind:alt="photo.text"
                width="150"
                height="150"
              />
            </a>
          </template>
        </div>
      </div>
    </div>

    <script src="main.js"></script>

    <!-- Font Awesome -->
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.10.2/js/all.js"
    ></script>
  </body>
</html>
